:root {
  --primary: #ebebeb;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(235, 235, 235, 0.8);
  border-bottom: 1px solid #8d8d8d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
html {
  scroll-behavior: smooth;
}
.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "poppins";
  color: black;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: red;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid black;
  transform: scalex(0);
  transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}
.register-container {
  margin-top: 100px;
  width: 350px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.register-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.form-group button:hover {
  background-color: #45a049;
}
.form-footer {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.form-footer a {
  color: #4caf50;
  text-decoration: none;
}
.form-footer a:hover {
  text-decoration: underline;
}
